# EXECUTABLES WITHOUT EXTENSION
*       # ignore everything
!*/     # unignore directories
!*.*    # unignore files with extension

# BUILD FOLDERS
*.vscode/*
build/*
lib/*

# HUGE FILES
*/ORBvoc.txt

# SCRIPTS
Apps/debug.sh
Apps/run.sh

# GENERATED DURING PROGRAM RUN
Apps/*.txt

# GENERATED DURING BUILD
Apps/DefSLAM
Apps/*GT
Apps/*GTCT
Apps/*.png
*.so
